* {
    margin-top: 10px;
    text-align: center;
}

h1 {
    color: lightcoral;
    margin-bottom: 0px;
}

#verify {
    background-color: lightcoral;
    border: 2px solid white;
    border-radius: 5px;
    color:white;
    padding:3px;
    margin-top:20px;
}